url = "https://nhentai.net/api/galleries/search?query=chinese"
-L

# no need to click "I am human" checkbox sample
# GET /api/galleries/search?query=chinese HTTP/2
# Host: nhentai.net
# User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:122.0) Gecko/20100101 Firefox/122.0
# Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8
# Accept-Language: zh-TW,zh;q=0.8,en-US;q=0.5,en;q=0.3
# Accept-Encoding: gzip, deflate, br
# DNT: 1
# Sec-GPC: 1
# Connection: keep-alive
# Upgrade-Insecure-Requests: 1
# Sec-Fetch-Dest: document
# Sec-Fetch-Mode: navigate
# Sec-Fetch-Site: none
# Sec-Fetch-User: ?1
# Pragma: no-cache
# Cache-Control: no-cache
# TE: trailers

# user-agent = "/1.0"
 
# --- Example file ---
# this is a comment
# url = "example.com"
# output = "curlhere.html"
 
# and fetch another URL too
# url = "example.com/docs/manpage.html"
# -O
# referer = "http://nowhereatall.example.com/"
# --- End of example file ---